header {
  position: relative;
  height: 48vw;
  background: url(../planted-final-assets/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff;

  &::before {
    content: "";
    background: url(../planted-final-assets/header-box.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 30%;
    right: 0;
    width: 40%;
    height: 40vw;
  }
}

.navbar {
  display: flex;
  padding-top: 1rem;

  &__logo {
    // font-size: 2rem;
    @include fluidFS(30, 45, 800);
  }

  &__items {
    @include flexCenter;

    & li {
      margin-left: 3rem;
      @include fluidFS(15, 18, 800);
      // font-size: calc(15px + (18 - 15) * ((100vw - 300px) / (1600 - 300)));
      font-weight: bold;
      letter-spacing: 1px;

      & a,
      &:first-of-type a {
        position: relative;
        padding-bottom: 2px;
        transition: all 0.3s;
      }

      &:first-of-type a {
        color: $sunnyYellow;
      }

      &:first-of-type a::after,
      & a::after {
        background-color: #fff;
        @include hoverUnderline;
      }

      &:first-of-type a:hover::after,
      &:first-of-type a:focus::after,
      & a:hover::after,
      & a:focus::after {
        transform: translateY(0);
        opacity: 1;
      }

      & a::after {
        background-color: $sunnyYellow;
      }
    }
  }
}

.heroText {
  position: absolute;
  top: 60%;
  left: 53%;
  transform: translate(-50%, -50%);
  line-height: 0.8;
  z-index: 1;

  & span {
    color: $sunnyYellow;
  }
}
