header {
  position: relative;
  height: 48vw;
  background: url(../planted-final-assets/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff;

  &::before {
    content: "";
    background: url(../planted-final-assets/header-box.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 30%;
    right: 0;
    width: 40%;
    height: 80vh;
  }
}

.navbar {
  display: flex;
  padding-top: 1rem;

  &__logo {
    font-size: 2rem;
  }

  &__items {
    @include flexCenter;

    & li {
      margin-left: 3rem;
      font-size: 0.9rem;
      font-weight: bold;
      letter-spacing: 1px;

      &:first-of-type a {
        color: $sunnyYellow;
      }
    }
  }
}

.heroText {
  position: absolute;
  top: 60%;
  left: 53%;
  transform: translate(-50%, -50%);
  line-height: 0.8;
  z-index: 1;

  & span {
    color: $sunnyYellow;
  }
}
