// About

.about {
  background-color: $offWhite;
  // padding: clamp(4rem, 2rem + 15vw, 11rem) 0;
  padding: min(max(4rem, 2rem + 15vw), 11rem) 0;

  &__text {
    @include flexCenter;
    flex-direction: column;
    padding: 0 7%;
    text-align: center;

    p {
      margin-bottom: 1.5rem;
    }

    & h2 {
      margin-bottom: 0.5rem;
      @include fluidFS(25, 56.3, 300);
      letter-spacing: 1.3px;
    }
  }
}

// Workshop

.workshop {
  padding: min(max(4rem, 2rem + 15vw), 11rem) 1rem;
  @include flexCenter;
  flex-direction: row;
}
