// About

.about {
  background-color: $offWhite;
  // padding: clamp(4rem, 2rem + 15vw, 11rem) 0;
  padding: min(max(4rem, 2rem + 15vw), 11rem) 0;

  &__text {
    @include flexCenter;
    flex-direction: column;
    padding: 0 7%;
    text-align: center;

    p {
      margin-bottom: 1.5rem;
    }

    & h2 {
      margin-bottom: 0.5rem;
      @include fluidFS(25, 56.3, 300);
      letter-spacing: 1.3px;
    }
  }
}

// Workshop

.workshop {
  padding-top: min(max(4rem, 2rem + 15vw), 6rem);
  display: flex;
  justify-content: space-between;
}

.container-left,
.container-right {
  max-width: 42vw;

  &__img {
    width: 100%;

    & img {
      max-width: 100%;
      width: 100%;
      @include boxShadow;
    }
  }

  &__text h2 {
    @include fluidFS(25, 32, 300);
  }

  &__text p {
    @include fluidFS(18, 20, 300);
  }
}

.container-left {
  &__text {
    padding-top: 5%;
    padding-left: 23%;
    text-align: right;
  }

  &__img {
    margin-top: -8rem;
    margin-bottom: 5rem;
  }
}

.container-right {
  &__text {
    margin-bottom: 4rem;
    padding-right: 23%;
    text-align: left;
  }
}

.container-right__img img {
  box-shadow: -1rem 1rem $sunnyYellow;
}

// feature

.feature {
  background-color: $offWhite;
  padding: min(max(4rem, 2rem + 15vw), 6rem) 0;
}
