@media (max-width: 1180px) {
  .founder__img {
    width: 180%;
  }

  .feature .wrapper {
    width: 91%;
  }
}

@media (max-width: 940px) {
  .about {
    padding: min(max(4rem, 2rem + 15vw), 6rem) 0;
  }

  .founder {
    padding: min(max(4rem, 2rem + 15vw), 8rem) 0;

    & .wrapper {
      flex-direction: column;
    }

    &__img {
      width: 50%;
      margin-bottom: 15%;
    }

    &__text .btn {
      display: block;
      width: 50%;
      margin: 0 auto;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .header__home::before {
    visibility: hidden;
  }

  .heroText {
    z-index: 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;

    &__items {
      position: fixed;
      top: -100%;
      left: 0;
      flex-direction: column;
      width: 100%;
      background-color: $black;
      text-align: center;
      transition: 0.3s;
      opacity: 0.9;

      &.active {
        top: 0;
        height: 100vh;
        z-index: 1000;
      }

      & li {
        margin: 1.5rem;
      }
    }
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 1000;

    &.active .bar:nth-child(2) {
      opacity: 0;
    }

    &.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    &.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  .workshop {
    flex-direction: column;
  }

  .container-left,
  .container-right {
    max-width: 100vw;

    & .btn {
      display: block;
      text-align: center;
    }
  }

  .container-left__text {
    width: 80%;
    margin: auto auto 15% auto;
    padding: 0;
    text-align: left;
  }

  .container-right {
    display: flex;
    flex-direction: column-reverse;

    &__text {
      width: 80%;
      margin: auto auto 15% auto;
      padding: 0;
    }

    &__img {
      margin-bottom: 5rem;
    }
  }

  .feature ul {
    flex-direction: column;
    align-items: center;

    & li {
      width: 80%;
      margin-bottom: 20%;
    }
  }

  .banner {
    height: 45vw;
  }

  .founder h2 {
    text-align: center;
  }

  .gallery .wrapper {
    justify-content: center;

    & ul {
      flex-direction: column;
    }
  }
}

@media (max-width: 480px) {
  .header__home {
    height: 70vw;
  }

  .about {
    margin-bottom: 10%;
  }

  .banner {
    height: 70vw;
  }

  .founder {
    &__img {
      width: 80%;
      margin-bottom: 20%;
    }

    &__text {
      padding: 0;

      & .btn {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}
