/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .header__heading {
    margin-top: 18.5%;
  }

  .blog__aside {
    margin: 0;
    width: 35%;

    & img {
      left: 0;
    }
  }
}

.blog__article .form fieldset textarea {
  height: 15rem;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .header {
    height: 45vw;

    & .wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  .blog {
    flex-direction: column;

    &__aside {
      width: 100%;

      &__img {
        width: 100%;
      }

      & img {
        width: 100%;
        height: 30vw;
        object-fit: cover;
      }
    }

    &__article {
      width: 100%;
      margin-top: 20%;

      &__text {
        margin: 0;
        padding-right: 2.5rem;
        border-left: 0;
      }

      &__comment {
        margin: 2rem 10% 0 10%;

        &-user:nth-of-type(2) {
          margin-bottom: 25%;
        }
      }
    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .blog__article__comment {
    &-user {
      flex-direction: column;
    }

    &-img {
      margin-bottom: 2rem;
    }
  }
}
