/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .contact .header {
    height: 40vw;
  }

  .mainContact {
    padding: min(max(4rem, 2rem + 10vw), 5rem) 0;

    & .wrapper form {
      margin: 0;
    }
  }

  .mainContact .wrapper {
    flex-wrap: wrap;
  }

  .contact__container {
    margin-bottom: 10%;
  }

  .contact .form {
    width: 100%;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .contact .header {
    height: 45vw;
  }
}
