// variables
$black: #2c2c2c;
$offWhite: #f0efed;
$forestGreen: #074115;
$sunnyYellow: #f8e71c;
$green: #0e902d;
$black: #000;

$roboto: "Roboto", sans-serif;

// functions
// @function clamp($min, $desired, $vw, $max) {
//   $result: min(max(#{$min}rem, #{$desired}rem + #{$vw}vw), #{$max}rem);
//   @return $result;
// }

// mixins
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fluidFS($min, $max, $minVW) {
  font-size: calc(
    #{$min}px + (#{$max} - #{$min}) *
      ((100vw - #{$minVW}px) / (1600 - #{$minVW}))
  );
}

@mixin boxShadow {
  box-shadow: 1rem 1rem $sunnyYellow;
}

@mixin hoverUnderline {
  content: "";
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
  height: 1px;
  transform: translateY(0.5rem);
  opacity: 0;
  transition: all 0.3s;
}
