// Header

.header {
  position: relative;
  height: 36vw;
  background: url(../planted-final-assets/blog-header-1.jpg) no-repeat center
    center fixed;
  background-size: cover;
  color: #fff;

  & .navbar {
    background-color: $black;
    padding-bottom: 0.4rem;

    & .wrapper {
      display: flex;
    }
  }

  &__heading {
    @include fluidFS(30, 80, 300);
    font-weight: bold;
    color: $sunnyYellow;
  }

  &__heading {
    margin-top: 22.5%;
  }
}

// Main

.blog {
  background-color: $offWhite;
  display: flex;
  justify-content: space-between;

  &__aside {
    position: relative;
    top: 9vw;
    width: 23%;
    height: 100%;
    margin-left: 10%;
    background-color: #fff;

    &__img {
      position: relative;
      margin-top: -2vw;
      width: 31vw;

      & img {
        position: relative;
        left: -32%;

        max-width: 100%;
        width: 100%;
      }
    }

    &__text {
      width: 100%;
      padding: 0 2rem 1.5rem 1.5rem;

      & h2 {
        margin: 1rem 0;
        @include fluidFS(15, 25, 300);
        letter-spacing: 1px;
      }

      &-bottom ul {
        & li {
          padding-left: 1rem;
          font-family: $roboto;
          line-height: 1.6rem;
        }

        & li::before {
          content: "\2022";
          color: $green;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
      }
    }
  }

  &__article {
    position: relative;
    margin-top: -15vw;
    width: 60%;

    &__img {
      width: 100%;
      box-shadow: -1rem 1rem $sunnyYellow;

      & img {
        max-width: 100%;
        width: 100%;
      }
    }

    &__text {
      margin-left: -1rem;
      margin-right: 15%;
      padding: 4rem 0 2rem 2.5rem;
      border-left: 0.3rem solid $sunnyYellow;
      border-bottom: 0.3rem solid $sunnyYellow;

      &-heading {
        margin-bottom: 2.5rem;

        & h2 {
          @include fluidFS(30, 43, 300);
          letter-spacing: 1.3px;
        }

        & p {
          color: $forestGreen;
          font-style: italic;
        }

        & span {
          font-weight: bold;
        }
      }

      &-container {
      }
    }

    &__comment {
      margin-top: 2rem;
      margin-right: 15%;

      & h2 {
        margin-bottom: 2.5rem;
        @include fluidFS(20, 30, 300);
      }

      &-img {
        margin-right: 2rem;
      }

      &-user {
        display: flex;
        margin-bottom: 10%;

        &-text h3 {
          margin-bottom: 0.2rem;
          color: $forestGreen;
          @include fluidFS(20, 25, 300);
        }
      }
    }

    .form {
      width: 100%;
      margin-right: 10%;
      margin-bottom: 8%;

      & fieldset {
        display: flex;
        flex-direction: column;
        border: none;

        & * {
          @include fluidFS(16, 20, 300);
          font-family: $josefinSans;
          font-weight: light;
        }

        & input,
        & textarea {
          padding: 4%;
          background-color: $offWhite;
          border: 3px solid $green;
        }

        & input {
          width: calc(100% - 15%);
          padding: 4%;
          margin: 0 5% 5% 0;
          border: none;
          border-bottom: 3px solid $green;
        }

        & textarea {
          height: 15vw;
          margin-bottom: 2rem;
        }

        & button {
          color: $white;
        }
      }

      &-container {
        display: flex;
      }

      &-comment {
        height: 15vw;
      }
    }
  }
}
