// Header

.blogHeader {
  position: relative;
  height: 36vw;
  background: url(../planted-final-assets/blog-header-1.jpg) no-repeat center
    center fixed;
  background-size: cover;
  color: #fff;

  & .navbar {
    background-color: $black;
    padding-bottom: 0.4rem;

    & .wrapper {
      display: flex;
    }
  }

  &__heading {
    @include fluidFS(30, 75, 300);
    font-weight: bold;
    color: $sunnyYellow;
  }

  &__heading {
    margin-top: 22.5%;
  }
}

// Main

.blog {
  background-color: $offWhite;
  display: flex;
  justify-content: space-between;

  &__aside {
    position: relative;
    top: 9vw;
    width: 23%;
    height: 100%;
    margin-left: 10%;
    background-color: #fff;

    &__img {
      position: relative;
      margin-top: -2vw;
      width: 31vw;

      & img {
        position: relative;
        left: -32%;

        max-width: 100%;
        width: 100%;
      }
    }

    &__text {
      width: 100%;
      padding: 0 2rem 1.5rem 1.5rem;

      & h3 {
        margin: 1rem 0;
      }

      &-bottom ul {
        & li {
          padding-left: 1rem;
          font-family: $roboto;
          line-height: 1.6rem;
        }

        & li::before {
          content: "\2022";
          color: $green;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
      }
    }
  }

  &__article {
    position: relative;
    margin-top: -15vw;
    width: 60%;

    &__img {
      width: 100%;
      box-shadow: -1rem 1rem $sunnyYellow;

      & img {
        max-width: 100%;
        width: 100%;
      }
    }

    &__text {
      margin-left: -1rem;
      margin-right: 15%;
      padding: 4rem 0 2rem 2.5rem;
      border-left-width: 0.3rem;
      border-left-style: solid;
      border-left-color: $sunnyYellow;
      border-bottom-width: 0.3rem;
      border-bottom-style: solid;
      border-bottom-color: $sunnyYellow;

      &-heading {
        margin-bottom: 2.5rem;

        & h2 {
          @include fluidFS(30, 43, 300);
          letter-spacing: 1.3px;
        }

        & p {
          color: $forestGreen;
          font-style: italic;
        }

        & span {
          font-weight: bold;
        }
      }

      &-container {
      }
    }

    &__comment {
      margin-top: 2rem;

      & h2 {
        margin-bottom: 2.5rem;
        @include fluidFS(20, 30, 300);
      }

      &-img {
        margin-right: 2rem;
      }

      &-user {
        display: flex;
        margin-bottom: 10%;
        padding-right: 15%;

        &-text h3 {
          margin-bottom: 0.2rem;
          color: $forestGreen;
          @include fluidFS(20, 25, 300);
        }
      }
    }

    &__form {
      & fieldset {
        border: none;
        display: flex;
        flex-direction: column;

        & > * {
          margin: 2%;
          font-family: $josefinSans;
          font-weight: light;
        }

        & input {
          background-color: $offWhite;
          border: 2px solid $green;
        }

        & .btn {
          color: $white;
        }
      }

      &-container {
        display: flex;

        & input::placeholder {
          @include fluidFS(16, 20, 300);
        }
      }
    }
  }
}
