.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 50%;
  transform: translateX(-50%);
}

.wrapper {
  width: 80%;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  display: flex;
}

.btn {
  background-color: $green;
  padding: 0.7rem 1.5rem;
  border: none;
  color: $white;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: all 0.15s;

  &:hover,
  &:focus {
    background-color: $white;
    color: $green;
  }
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-1 {
  margin-left: 1%;
}

.full-width {
  position: relative;
  left: 50%;
  right: 50%;
  max-width: 100vw;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;
}

i.fa-bars {
  visibility: hidden;
}
