.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 50%;
  transform: translateX(-50%);
}

.wrapper {
  width: 80%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  display: flex;
}

.btn {
  background-color: $green;
  padding: 0.7rem 1.5rem;
  border: none;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: all 0.15s;

  &:hover,
  &:focus {
    background-color: #fff;
    border: 1px solid $green;
    color: $green;
  }
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}
