.contact .header {
  background: url(../planted-final-assets/contact-header-1.jpg) no-repeat center
    center fixed;
  background-size: cover;
  height: 36vw;

  & h1 {
    margin-top: 18%;
    & span {
      display: block;
    }
  }
}

.socialIcons {
  color: $green;
}
