.contact {
  background-color: $offWhite;

  & .header {
    background: url(../planted-final-assets/contact-header-1.jpg) no-repeat
      center center fixed;
    background-size: cover;
    height: 36vw;

    & h1 {
      margin-top: 18%;
      & span {
        display: block;
      }
    }
  }
}

.mainContact {
  padding: min(max(4rem, 2rem + 15vw), 6rem) 0;
}

main .wrapper {
  display: flex;
  align-items: center;
}

.socialIcons {
  & ul {
    display: flex;

    & li a {
      margin-right: 1rem;
      color: $green;
    }
  }
}

.contactInfo {
  &-links {
    margin: 0.5rem 0;

    & a:first-of-type {
      display: block;
      margin: 1rem 0;
      color: $black;
      font-size: 1.2rem;
      font-weight: bold;
    }

    & a:nth-child(2) {
      font-family: $roboto;
      color: $black;
    }
  }

  & p span {
    display: block;
  }
}

.contact .form {
  position: relative;
  width: 75%;
  left: 10%;
  padding: 4%;
  background-color: $white;
  @include boxShadowR;

  & fieldset {
    display: flex;
    flex-direction: column;
    border: none;

    & * {
      @include fluidFS(16, 20, 300);
      font-family: $josefinSans;
      font-weight: light;
    }

    & input,
    & textarea {
      padding: 4%;
      background-color: $white;
      border: 3px solid $green;
    }

    & input {
      width: calc(100% - 15%);
      padding: 4%;
      margin: 0 5% 5% 0;
      border: none;
      border-bottom: 3px solid $green;
    }

    & textarea {
      height: 15vw;
      margin-bottom: 2rem;
    }
  }

  &-container {
    display: flex;
  }

  &-comment {
    height: 15vw;
  }
}
