@media (max-width: 1180px) {
  .founder__img {
    width: 180%;
  }

  .feature .wrapper {
    width: 91%;
  }
}

@media (max-width: 940px) {
  .about {
    padding: min(max(4rem, 2rem + 15vw), 6rem) 0;
  }
}

@media (max-width: 768px) {
  .feature {
    padding-top: min(max(4rem, 2rem + 15vw), 5rem);
  }
}

@media (max-width: 480px) {
}
