@media (max-width: 1180px) {
  .founder__img {
    width: 180%;
  }

  .feature .wrapper {
    width: 91%;
  }
}

@media (max-width: 940px) {
  .about {
    padding: min(max(4rem, 2rem + 15vw), 6rem) 0;
  }

  .founder {
    padding: min(max(4rem, 2rem + 15vw), 8rem) 0;

    & .wrapper {
      flex-direction: column;
    }

    &__img {
      width: 50%;
      margin-bottom: 15%;
    }

    &__text .btn {
      display: block;
      width: 50%;
      margin: 0 auto;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .feature ul {
    flex-direction: column;
    align-items: center;

    & li {
      width: 80%;
    }
  }

  .gallery .wrapper {
    justify-content: center;

    & ul {
      flex-direction: column;
    }
  }
}

@media (max-width: 480px) {
  .founder__text .btn {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
