@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fluidFS($min, $max, $minVW) {
  font-size: calc(
    #{$min}px + (#{$max} - #{$min}) *
      ((100vw - #{$minVW}px) / (1600 - #{$minVW}))
  );
}
