@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Roboto&display=swap");

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 125%; /*For accessibility purpose, keeping the global font size at 20px */
  line-height: 1.15;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  // font-size: 8.3rem;
  font-size: calc(2rem + (166 - 40) * ((100vw - 300px) / (1600 - 300)));
  font-weight: normal;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
